extends base.pug 

block scripts
     script
      include ../static/index.js
     
block style 
     style
      include ../static/style.css
      include ../static/styleinfo.css  


block content 
   section#introsection 
        div Welcome To Vivanta Dance Academy
        div.small Let's Beat On The Floor
   section#missionsection 
        h2 Dance Instructors 
        h4 VDA’s dance instructors are one of the well-known and prominent ones in the dance and entertainment industry. With them you can learn world class dance techniques, best choreography routines. They will teach you in well-settled groups or private lessons.
        div.card 
         h3 Hip Hop
          div.cardbox 
            div.cardimg 
                img(src="/static/images/poonam.jpg ")
            div.cardcontent 
               p This is best dance academy of the universe 
        div.card 
         h3 Contemporary 
          div.cardbox 
            div.cardimg 
                img(src="/static/images/Abhishek.jpg" )

            div.cardcontent 
               p This is best dance academy of the universe 
        div.card 
         h3 Ballet
          div.cardbox 
            div.cardimg 
                img(src="/static/images/Lokesh.jpg")

            div.cardcontent 
               p This is best dance academy of the universe 
        div.card 
         h3 Folk dance
          div.cardbox 
            div.cardimg 
                img(src="/static/images/Shokky.jpg ")

            div.cardcontent 
               p This is best dance academy of the universe 

                
        div.card 
         h3 Modern dance
          div.cardbox 
            div.cardimg 
                img(src="/static/images/Shivank.jpg ")

            div.cardcontent 
               p This is best dance academy of the universe 

        div.card 
         h3 Jazz dance
          div.cardbox 
            div.cardimg 
                img(src="/static/images/shweta.jpg")

            div.cardcontent 
               p This is best dance academy of the universe 

        div.card 
         h3 Jazz dance
          div.cardbox 
            div.cardimg 
                img(src="/static/images/chandrika.jpg")

            div.cardcontent 
               p This is best dance academy of the universe 

        div.card 
         h3 Jazz dance
          div.cardbox 
            div.cardimg 
                img(src="/static/images/Deepak.jpg")

            div.cardcontent 
               p This is best dance academy of the universe 

        div.card 
         h3 Jazz dance
          div.cardbox 
            div.cardimg 
                img(src="/static/images/Shivank.jpg")

            div.cardcontent 
               p This is best dance academy of the universe 







   section#sponsersection 
        h2 Our Sponser's
        div#sponsers 
          img(src="/static/images/sponser.png", alt="sponser image " , class="spimage")
          img(src="/static/images/sponser 2.png", alt="sponser image " , class="spimage")
          img(src="/static/images/sponser 3.png", alt="sponser image " , class="spimage")
          img(src="/static/images/sponser 4.png", alt="sponser image " , class="spimage")