doctype html
html
  head
    title Vivanta Dance Academy
    block scripts
    block style 
      
  body
    nav#navbar.top 
       ul
            div#logo 
              img(src="/static/images/dance boy nobg.png")
              | VDA 
            li #[a(href="/") Home]
            li #[a(href="/about") About]
            li #[a(href="/services") Services]
            li #[a(href="/contact") Contact us ]
            li #[a(href="/academyinfo") Academy info ]
  block content
  block foot
  footer#footer 
        | Copyright © 2023 VivantaDanceAcademy.com | All Rights Reserved 