extends base.pug 

block scripts
     script
      include ../static/index.js
     
block style 
     style
      include ../static/style.css

block content 
   section#introsection 
        div Welcome To Vivanta Dance Academy
        div.small Let's Beat On The Floor
   section#missionsection 
        h2 Our Mission
        div.card 
         h3 Dance Perfection
          div.cardbox 
            div.cardimg 
                img(src="/static/images/duo pic no bg.png ")

            div.cardcontent 
               p This is best dance academy of the universe 
        div.card 
         h3 Dance the way you like 
          div.cardbox 
            div.cardimg 
                img(src="/static/images/colorful dance no bg.png " )

            div.cardcontent 
               p This is best dance academy of the universe 
        div.card 
         h3 Expert Teaching
          div.cardbox 
            div.cardimg 
                img(src="/static/images/colorful dance no bg.png ")

            div.cardcontent 
               p This is best dance academy of the universe 
        div.card 
         h3 Expert Teaching
          div.cardbox 
            div.cardimg 
                img(src="/static/images/colorful dance no bg.png ")

            div.cardcontent 
               p This is best dance academy of the universe 

                
        div.card 
         h3 Expert Teaching
          div.cardbox 
            div.cardimg 
                img(src="/static/images/colorful dance no bg.png ")

            div.cardcontent 
               p This is best dance academy of the universe 
        div.card 
         h3 Expert Teaching
          div.cardbox 
            div.cardimg 
                img(src="/static/images/colorful dance no bg.png ")

            div.cardcontent 
               p This is best dance academy of the universe 
   section#sponsersection 
        h2 Our Sponser's
        div#sponsers 
          img(src="/static/images/sponser.png", alt="sponser image " , class="spimage")
          img(src="/static/images/sponser 2.png", alt="sponser image " , class="spimage")
          img(src="/static/images/sponser 3.png", alt="sponser image " , class="spimage")
          img(src="/static/images/sponser 4.png", alt="sponser image " , class="spimage")