extends base.pug 

block scripts
     script
      include ../static/index.js
     
block style 
     style
      include ../static/styleservices.css
      //- include ../static/style.css  
       

block content 
   section#introsection 
        div Welcome To Vivanta Dance Academy
        div.small Let's Beat On The Floor
   section#missionsection 
        h2 Dance Styles
        div.card 
         h3 Hip Hop
          div.cardbox 
            div.cardimg 
                img(src="/static/images/duo pic no bg.png ")

            div.cardcontent 
               p Hip hop dance is a range of street dance styles primarily performed to hip hop music or that have evolved as part of hip hop culture.It is influenced by a wide range of styles that were created in the 1970s and made popular by dance crews in the United States . 

            a(href='contact')
               |  Tap to know more  
  


        div.card 
         h3 Contemporary
          div.cardbox 
            div.cardimg 
                img(src="/static/images/colorful dance no bg.png " )

            div.cardcontent 
               p Contemporary dance is a genre of dance performance that developed during the mid-twentieth century and has since grown to become one of the dominant genres for formally trained dancers throughout the world, with particularly strong popularity in the U.S. and Europe  

            a(href='contact')
               |  Tap to know more 


        div.card 
         h3 Ballet
          div.cardbox 
            div.cardimg 
                img(src="/static/images/colorful dance no bg.png ")

            div.cardcontent 
               p Ballet is a type of performance dance that originated during the Italian Renaissance in the fifteenth century and later developed into a concert dance form in France and Russia. It has since become a widespread and highly technical form of dance with its own vocabulary. 

            a(href='contact')
               |  Tap to know more 

        div.card 
         h3 Folk dance
          div.cardbox 
            div.cardimg 
                img(src="/static/images/colorful dance no bg.png ")

            div.cardcontent 
               p A folk dance is a dance that reflects the life of the people of a certain country or region. Not all ethnic dances are folk dances. Popular all around the world in hundreds of unique variations and styles, folk dances represent cultural heritage and ethnic history of people

            a(href='contact')
               |  Tap to know more 

                
        div.card 
         h3 Modern dance
          div.cardbox 
            div.cardimg 
                img(src="/static/images/colorful dance no bg.png ")

            div.cardcontent 
               p Modern dance is a broad genre of western concert or theatrical dance which included dance styles such as ballet, folk, ethnic, religious, and social dancing; and primarily arose out of Europe and the United States in the late 19th and early 20th centuries.

            a(href='contact')
               |  Tap to know more  

        div.card 
         h3 Jazz dance
          div.cardbox 
            div.cardimg 
                img(src="/static/images/colorful dance no bg.png ")

            div.cardcontent 
               p Jazz dance is a performance dance and style that arose in the United States in the mid 20th century. Jazz dance may allude to vernacular jazz, Broadway or dramatic jazz. The two types expand on African American vernacular styles of dance that arose with jazz music.

            a(href='contact')
               |  Tap to know more   

        div.card 
         h3 Samba
          div.cardbox 
            div.cardimg 
                img(src="/static/images/colorful dance no bg.png ")

            div.cardcontent 
               p Samba is a name or prefix used for several rhythmic variants, such as samba urbano carioca, samba de roda, recognized as part of the Intangible Cultural Heritage of Humanity by UNESCO, amongst many other forms of samba .

            a(href='contact')
               |  Tap to know more   

        div.card 
         h3 Bharatanatyam
          div.cardbox 
            div.cardimg 
                img(src="/static/images/colorful dance no bg.png ")

            div.cardcontent 
               p Bharatanatyam is an Indian classical dance form that originated in Tamil Nadu. It is one of eight Indian classical dance forms recognized by the Sangeet Natak Akademi, and expresses South Indian religious themes and spiritual ideas .

            a(href='contact')
               |  Tap to know more  

        div.card 
         h3 Kathakali
          div.cardbox 
            div.cardimg 
                img(src="/static/images/colorful dance no bg.png ")

            div.cardcontent 
               p Kathakali is a major form of classical Indian dance. It is a "story game" genre of art, but one distinguished by the elaborately colourful make-up and costumes of the traditional male actor-dancers , and expresses South Indian religious themes ideas .

            a(href='contact')
               |  Tap to know more  

   section#guidancepannel  
        div.steps 
          h2 Quick Guide
          h3 Here is the quick guide for enrolling for dancing classes 

        div.card 
         h3 1. Know About Dance Styles 
          div.cardbox 
            div.cardimg 
                img(src="/static/images/colorful dance no bg.png ")

            div.cardcontent 
               p Quickly go through the cards provided above and have the brief grance about dance styles before applying . It will enhance your knowledge about the trending dance style that we are teaching .

        div.card 
         h3 2. Click The Button 
          div.cardbox 
            div.cardimg 
                img(src="/static/images/colorful dance no bg.png ")

            div.cardcontent 
               p After knowing about the dance style , just click on the button of dance style in which you are interested . It will redirect you to the contact page just fill the form and we will contact you soon . 

      
        div.card 
         h3 3. Fill The Form
          div.cardbox 
            div.cardimg 
                img(src="/static/images/colorful dance no bg.png ")

            div.cardcontent 
               p After Filling the form we will let you know about the upcoming batches of the dance style and giving all necessary info about it like schedule , duration , etc. within 2 days ...



   section#sponsersection 
        h2 Our Sponser's
        div#sponsers 
          img(src="/static/images/sponser.png", alt="sponser image " , class="spimage")
          img(src="/static/images/sponser 2.png", alt="sponser image " , class="spimage")
          img(src="/static/images/sponser 3.png", alt="sponser image " , class="spimage")
          img(src="/static/images/sponser 4.png", alt="sponser image " , class="spimage")